#style{
  text-align: center;
  position: relative;
}
.css-input{
  width: 500px;
  height: 30px;
  margin-bottom: 10px;

}
.btn{
  border-radius: 5px;
  background-color: rgb(238, 69, 69);
  color: black;
  height: 35px;
  width: 75px;
  margin-bottom: 10px;
  cursor: pointer;
}
